<div (click)="outSide()"></div>

<app-sidebar></app-sidebar>

<div class="container">
    <div class="header">
        <button mat-raised-button color="primary" (click)="addFournisseur()">Ajouter un Fournisseur</button>
    </div>

    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="(fournisseurs$ | async) || []" class="full-width-table">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="header-cell"> ID </th>
                <td mat-cell *matCellDef="let element" class="cell"> {{ element.id }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="header-cell"> Nom </th>
                <td mat-cell *matCellDef="let element" class="cell"> {{ element.name }} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="header-cell"> Actions </th>
                <td mat-cell *matCellDef="let element" class="cell">
                    <!-- <button mat-icon-button color="primary" (click)="editFournisseur(element)" matTooltip="Modifier">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteFournisseur(element)" matTooltip="Supprimer">
                        <mat-icon>delete</mat-icon>
                    </button> -->

                    <button mat-icon-button color="primary" (click)="editFournisseur(element)" matTooltip="Modifier">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteFournisseur(element)" matTooltip="Supprimer">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Table Headers -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Table Rows -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>