<div class="container-fluid">
    <div class="row justify-content-center"> <!-- Centrer la ligne -->
        <!-- Main Content -->
        <div class="col-md-10">
            <div class="row mt-4 justify-content-center"> <!-- Centrer la ligne -->
                <!-- Line Chart -->
                <div class="col-md-6 mb-4 d-flex justify-content-center">
                    <app-data-for-chart-line></app-data-for-chart-line>
                </div>

                <!-- Pie Chart -->
                <div class="col-md-6 mb-4 d-flex justify-content-center">
                    <app-data-for-chart-pie></app-data-for-chart-pie>
                </div>
            </div>

            <div class="row mt-4 justify-content-center"> <!-- Centrer la ligne -->
                <!-- Bar Chart -->
                <div class="col-md-6 mb-4 d-flex justify-content-center">
                    <app-options-for-line></app-options-for-line>
                </div>

                <!-- Doughnut Chart -->
                <div class="col-md-6 mb-4 d-flex justify-content-center">
                    <app-options-for-pie></app-options-for-pie>
                </div>
            </div>
        </div>
    </div>
</div>