<div class="dashboard-container">
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="main-content">
        <div class="row">
            <div class="col-md-6">
                <app-data-for-chart-line></app-data-for-chart-line>
            </div>
            <div class="col-md-6">
                <app-data-for-chart-pie></app-data-for-chart-pie>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <app-options-for-line></app-options-for-line>
            </div>
            <div class="col-md-6">
                <app-options-for-pie></app-options-for-pie>
            </div>
        </div>
    </div>
</div>