.dashboard-container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.col-md-6 {
    flex: 0 0 48%;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}